# Điền API KEY của OpenRouter hoặc OpenAI vào đây
# Lấy API Key tại: https://openrouter.ai/keys
OPENROUTER_API_KEY=sk-or-v1-.....

# (Tùy chọn) Chọn mô hình AI mà bạn muốn sử dụng, mặc định đang dùng meta-llama/llama-3.3-70b-instruct cho miễn phí và thông minh, hoặc google/gemini-flash-1.5
OPENROUTER_MODEL=google/gemini-flash-1.5
