@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-200;
  }
}

/* Custom scrollbar to match the design */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700;
}
